@import "mixins";

p, h1, h2, h3, h4, h5, h6, span{
    color: $color-charade;
}

html, .body{
    scroll-behavior: smooth;
    padding-bottom: 0;
}

body.dark {
    background-color: $color-charade;
    .nav-header{
        background-color: $color-stromboli;
        ul li a{
            color: white;
            &.active{
                color: $color-buttercup-light;
            }
        }
        .navbar-toggle .icon-bar{
            background: white;
        }
    }
    p, h1, h2, h3, h4, h5, h6, span{
        color: white;
    }   
    .experience{
        .exp-company > div{
            background: #344C64;
            &:after{
                border-right: 15px solid white;
                @include breakpoint("desktop") {
                    border-right: 24px solid white;
                }
            }
        }
        .timeline-block:after{
            background: white;
        }
        &:after{
            border-right: thick solid white;
        }
        
    }
    .form-container{
        background: $color-pickled-bluewood;
        .btn-submit{
            background: $color-buttercup;
        }
    }
} 

body.dark h1, body.dark .support a {color: white;}

#root{
    padding-bottom: 50px;
}
