@import "mixins";

p, h1, h2, h3, h4, h5, h6, span{
    color: $color-charade;
}

html, .body{
    scroll-behavior: smooth;
}

body.dark {
    background-color: $color-charade;
    .nav-header{
        background-color: $color-stromboli;
        ul li a{
            color: white;
            &.active{
                color: $color-buttercup-light;
            }
        }
        .navbar-toggle .icon-bar{
            background: white;
        }
    }
    p, h1, h2, h3, h4, h5, h6, span{
        color: white;
    }
    .promo-img img{
        box-shadow: 6px 1px 14px white; 
    }
} 

body.dark h1, body.dark .support a {color: white;}

#root{
    padding-bottom: 50px;
}
