@import "mixins";

.App {
    text-align: center;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
    @include breakpoint("desktop"){
        height: 10vmin;
    }
}

.App-logo {
    @include breakpoint("desktop"){
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content{
    @include bootstrap-container-behaviour;
}

.nav-header{
    background-color: $color-navyblue;
    .link-list{
        display: flex;
        align-items: center;
        @include breakpoint("mobile"){
            transition:  all .3s cubic-bezier(.27,.16,.36,.99);
            opacity: 0;
            transform: scale(1,0);
            transform-origin: top;
            position: fixed;
            width: 100%;
            background: white;
            align-items: start;
            justify-content: center;
            top:0;
            left: 0;
        }
    }
    ul{
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li{
            padding-left: 20px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .navbar-toggle{
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include breakpoint("desktop"){
            display: none;
        }
        .icon-bar{
            border-radius: 2px;
            height: 3px;
            transition: all 0.5s ease-in-out;
            width: 25px;
            background: white;
            display: block;
            margin-top: 8px;
            opacity: 1;
        }
    }
}

.nav-collapse{
    .nav-header {
        .link-list{
            height: 100%;
            opacity: 1;
            transform: scale(1,1);
            z-index: 1;
            ul{
                flex-direction: column;
                li{
                    padding-top: 20px;
                    padding-left: 0;
                    text-align: center;
                    a{
                        color: $color-mineshaft;
                    }
                }
            }
        }
        .navbar-toggle{
            z-index: 2;
            .icon-bar{
                background: black;  
                &:first-child{
                    transform: translateY(8px) rotate(-45deg);
                }  
                &:nth-child(2){
                    display: none;
                }  
                &:nth-child(3){
                    transform: translateY(-3px) rotate(45deg);
                }  
            }
        }
    }
}