@import "mixins";

//FONT SIZE - indicate only needed values
$font-size-values:(8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26);
@include createGenericRules("f-s", "font-size", $font-size-values, "px", "");
@include breakpoint("desktop") {
    @include createGenericRules("fs-lg", "font-size", $font-size-values, "px", "");
}

.dark{
    .dark-color-buttercup-l{
        color: $color-buttercup-light !important;
    }
}

.color-deep-cerulean{
   color: $color-cadetblue !important;
}