@import "mixins";

.skill-list{
    .card{
        max-width: 150px;
        min-height: 174px;
        border-radius: 15px;
        padding: 0;
        @include breakpoint("desktop") {
            min-height: 144px;
            max-width: 118px;
        }
        @include breakpoint("desktop-large") {
            max-width: 120px;
            min-height: unset;
        }
        img{
            border-radius: 12px 12px 0 0;
            background: $color-alto;
            width: 100%;
            height: 100%;
        }
        p{
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }
    }
    .row{
        @include breakpoint("mobile") {
            justify-content: space-around;
        }
    }
}

.dark .card{
    background-color: $color-chatelle;
    img{
        background: white;
    }
}