@import "mixins";

.skill-list{
    .card{
        max-width: 120px;
        border-radius: 15px;
        img{
            border-radius: 12px 12px 0 0;
        }
        p{
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }
    }
}

.dark .card{
    background-color: $color-chatelle;
}